---
import Skill from '../components/Skill.astro'
import CloseIcon from '../components/icons/Close.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils.ts'
import languages from '../data/languages.json'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const tAboutMe = t('about_me')
---

<section id="about_me" class="hero min-h-screen">
  <div
    class="hero-content flex-col lg:flex-row-reverse"
    data-section="about_me"
  >
    <div
      class="flex h-screen w-10/12 flex-col items-center justify-center text-center"
    >
      <h2 class="mb-3 text-2xl font-semibold tracking-wider">
        <span class="text-custom-yellow">{'<'}</span>{
          tAboutMe.section_about_me
        }<span class="text-custom-yellow">{'/>'}</span>
      </h2>
      <p set:html={tAboutMe.biography} class="text-2xl font-thin" />
    </div>
    <div class="flex w-10/12 flex-col justify-center">
      <h2 class="mb-3 text-center text-2xl font-semibold tracking-wider">
        <span class="text-custom-yellow">{'<'}</span>{
          tAboutMe.section_skills
        }<span class="text-custom-yellow">{'/>'}</span>
      </h2>
      <div id="all-skills" class="flex flex-col gap-4">
        <div>
          <div class="flex justify-between">
            <p class="font-semibold"># {tAboutMe.skills_section_language}</p>
            <a data-skill="languages" class="text-custom-yellow text-sm"
              >View More</a
            >
          </div>
          <div class="mt-4 grid grid-cols-4 gap-2">
            {languages.slice(0, 4).map((lang) => <Skill {...lang} />)}
          </div>
        </div>
        <div>
          <p># {tAboutMe.skills_section_frameworks}</p>
        </div>
        <div>
          <p># {tAboutMe.skills_section_others}</p>
        </div>
      </div>
      <div id="list-languages" class="opacity-0 hidden"  client:visible>
        <div class="flex justify-between">
          <p class="font-semibold"># {tAboutMe.skills_section_language}</p>
          <a data-skill="languages" class="fill-custom-yellow h-4 w-4">
            <CloseIcon />
          </a>
        </div>
        <div class="mt-4 grid grid-cols-4 gap-2">
          {languages.map((lang) => <Skill {...lang} />)}
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const showMoreTargets = document.querySelectorAll('[data-skill]')
  const allSkillsTarget = document.getElementById('all-skills')

  showMoreTargets.forEach((target) => {
    target.addEventListener('click', () => {
      allSkillsTarget.classList.add(
        'animate-fade-out',
        'animate-delay-300',
        'transition-opacity',
        'ease-in',
        'duration-700',
        'opacity-0'
      )
      allSkillsTarget.dataset.skillSelect = target.dataset.skill
    })
  })

  document.addEventListener('animationstart', (e) => {
    const target = e.target
    console.log(target.id)
    if (target.id === 'list-languages') {
      setTimeout(() => {
        target.classList.remove('opacity-0')
      }, 1000)
    }
  })

  document.addEventListener('animationend', (e) => {
    const target = e.target

    if (target.id === 'all-skills') {
      target.classList.add('hidden')
      const listSkillTarget = document.getElementById(
        `list-${target.dataset.skillSelect}`
      )
      listSkillTarget.classList.remove('hidden')
      listSkillTarget.classList.add(
        'animate-fade-in',
        'animate-delay-350',
        'ease-in',
        'duration-700',
        'opacity-100'
      )
    }
  })
</script>
