---
import { getCollection } from 'astro:content'
import HomeLayout from 'src/layouts/HomeLayout.astro'
import PresentationSection from 'src/components/PresentationSection.astro'
import AboutMeSection from 'src/components/AboutMeSection.astro'
import AskAISection from 'src/components/AskAISection.astro'
import ProjectsSection from 'src/components/ProjectsSection.astro'
import WorkExperienceSection from 'src/components/WorkExperienceSection.astro'
import BlogSection from 'src/components/BlogSection.astro'
import ContactMeSection from 'src/components/ContactMeSection.astro'
import { getLangFromUrl } from 'src/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const allPosts = await getCollection('blog')
const posts = allPosts
  .filter(p => p.data.lang === lang)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<HomeLayout lang={lang}>
  <main>
    <PresentationSection lang={lang} />
    <AboutMeSection lang={lang} />
    <AskAISection lang={lang} />
    <ProjectsSection />
    <WorkExperienceSection />
    <BlogSection posts={posts} lang={lang} />
    <ContactMeSection lang={lang} />
  </main>
</HomeLayout>
