---
import '@fontsource-variable/fredoka'
import { getLangFromUrl, useTranslation } from 'src/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslation(lang)

interface Props {
  title?: string
}

const tSeo = t('seo')
const { title } = Astro.props
---

<html lang={lang} data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={tSeo.description} />
    <meta property="og:title" content={tSeo.title} />
    <meta property="og:description" content={tSeo.description} />
    <meta property="og:image" content="/img/seo/og-image.png" />
    <meta name="twitter:title" content={tSeo.title} />
    <meta name="twitter:description" content={tSeo.description} />
    <meta name="twitter:image" content="/img/seo/twitter-image.png" />
    <title>{title ?? tSeo.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  :global(html) {
    scroll-behavior: smooth;
  }
</style>
