---
import { getCollection } from 'astro:content'
import HomeLayout from 'src/layouts/HomeLayout.astro'
import { getLangFromUrl } from 'src/i18n/utils.ts'

export async function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'es' } }]
}

const lang = getLangFromUrl(Astro.url)
const allPosts = await getCollection('blog', (filter) => {
  return lang === filter.data.lang
})
---

<HomeLayout>
  <main class="m-24">
    {
      allPosts.map((post) => (
        <a
          class="card w-96 bg-base-100 shadow-xl"
          href={`/${lang}/blog/${post.slug.split('/')[0]}`}
        >
          <figure>
            <img src={post.data.cover.src} alt={post.data.title} />
          </figure>
          <div class="card-body">
            <h2 class="card-title">{post.data.title}</h2>
            <p>{post.data.shortDescription}</p>
          </div>
        </a>
      ))
    }
  </main>
</HomeLayout>
