---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import HomeLayout from 'src/layouts/HomeLayout.astro'
import { getLangFromUrl } from 'src/i18n/utils.ts'

const lang = getLangFromUrl(Astro.url)
const allPosts = await getCollection('blog', (filter) => {
  return lang === filter.data.lang
})
---

<HomeLayout>
  <main class="my-24 flex flex-wrap justify-center gap-3 md:flex-nowrap">
    {
      allPosts.map((post) => (
        <a
          class="card w-96 bg-base-100 shadow-xl"
          href={`/${lang}/blog/${post.slug.split('/')[0]}`}
        >
          <figure>
            <Image src={post.data.cover} alt={post.data.title} width={384} height={216} />
          </figure>
          <div class="card-body">
            <h2 class="card-title">{post.data.title}</h2>
            <p>{post.data.shortDescription}</p>
          </div>
        </a>
      ))
    }
  </main>
</HomeLayout>
